# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Raw sports data
# Raw sports data
storage/bronze/**/*.json
storage/bronze/**/*.csv
storage/bronze/**/*.tsv
storage/bronze/**/*.yaml
storage/bronze/**/*.yml
storage/bronze/**/*.zip
storage/bronze/**/*.pgn
storage/bronze/**/*.zst

# OS / IDE
.DS_Store
.vscode/
.idea/